doctype html 
html 
    head 
        link(rel='stylesheet', href='/bulma.min.css')
        style
        title Header 
    body
        table.table
            thead
              tr
                th Name
                th Population
            tbody
                each country in countries
                    tr
                      td #{country.Name}
                      td #{country.Population}