doctype html 
html 
    head 
        link(rel='stylesheet', href='/bulma.min.css')
        link(rel='stylesheet', href='/global.css')
        title Header
    body
        nav
            img(src="/Web.PNG")
            div Local Area Nerds
        block content