doctype html 
html 
    head 
        link(rel='stylesheet', href='/bulma.min.css')
        link(rel='stylesheet', href='/global.css')
        title Header
        block head
    body
        #layout
            #layout-nav
                nav
                    img(src="/logo.png")
            #layout-content
                block content