html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1.5rem;
}

#layout-nav aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 1;
  padding: 2rem 1rem;
}

#layout-nav aside img {
  margin-bottom: 1.5rem;
  width: 100%;
}

#layout-content {
  width: 100%;
  padding: 1.5rem;
  padding-left: 0;
}
